{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}
<br>
  <h1>Lista de Parâmetros</h1>
<br>

  <span class="pull-right">{{ object_list.count }}</span>

  <div class="row">
          <div class="col-md-auto">
            <a class="btn btn-primary" href="{% url 'create_parametro' %}">
              <i class="fa fa-plus"></i>
              Adicionar
            </a>
          </div>
          <div class="col">
            <form action="." method="GET">
              <div class="row">
                <div class="col p-ari-5">
                  <input name="search" class="form-control mb-2" type="text" placeholder="Busca..." />
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary mb-2" type="submit">OK</button>
                  <button class="btn btn-primary mb-2">Limpar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

  <table class="table">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Natureza</th>
        <th>Permitido Mínimo</th>
        <th>Permitido Máximo</th>
        <th>Ideal Máximo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for parametro in object_list %}
        <tr>
          <td>
            <a href="">{{ parametro }}</a>
          </td>
          <td>{{ parametro.natureza }}</td>
          <td>{{ parametro.permitido_min }}</td>
          <td>{{ parametro.permitido_max }}</td>
          <td>{{ parametro.ideal_max }}</td>

           <td>
            <a href="{% url 'edit_parametro' parametro.id %}">
              <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'del_parametro' parametro.id %}" style="padding-left: 7px">
              <i class="fa fa-close no"></i>
            </a>
          </td>
         </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}